[Desktop Entry]
Name=PDFReader
Comment=PDF reader plugin for falkon
Icon=
Type=Service
X-Falkon-Author=Anmol Gautam
X-Falkon-Email=tarptaeya@gmail.com
X-Falkon-Version=0.1.0
X-Falkon-Settings=true
X-Falkon-EntryPoint=entry.qml
